<!DOCTYPE html>
<html>
  <head>
    <title>{{ if .Title }}{{ .Title }} – {{ end }}{{ .Site.Title }} – {{ .Site.Params.description }}</title>

    {{ partial "meta.html" . }}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {{ $style := resources.Get "sass/style.scss" | toCSS | minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} - {{ .Site.Params.description }}" href='{{ "index.xml" | absURL }}' />
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ .Site.BaseURL }}/" class="site-avatar" aria-label="Return to homepage"><img src="{{ .Site.Params.avatar }}" alt="Site avatar image" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ .Site.BaseURL }}/" aria-label="Return to homepage">{{ .Site.Title }}</a></h1>
            <p class="site-description">{{ .Site.Params.description }}</p>
          </div>

          <nav>
            <a href="{{ .Site.BaseURL }}/about" aria-label="Learn more about Nick Ross">About Me</a>
            <a href="{{ .Site.BaseURL }}/career" aria-label="Read career advice articles">Career Advice</a>
            <a href="{{ .Site.BaseURL }}/classes" aria-label="View teaching materials and courses">Teaching</a>
            <a href="{{ .Site.BaseURL }}/talks" aria-label="Browse conference talks and presentations">Talks</a>
            <a href="{{ .Site.BaseURL }}/research" aria-label="View research publications">Research</a>
            <a href="{{ .Site.BaseURL }}/datamanagement" aria-label="Access data management course materials">Data Management</a>
            <a href="{{ .Site.BaseURL }}/biz_strat" aria-label="Learn about data strategy">Data Strategy</a>
            <a href="{{ .Site.BaseURL }}/recletters" aria-label="Request a letter of recommendation">Rec Letters</a>
            <a href="{{ .Site.BaseURL }}/mylab" aria-label="Learn about Nick's research lab">My Lab</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ block "main" . }}{{ end }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {{ partial "svg-icons.html" . }}
        </footer>
      </div>
    </div>

    {{ partial "analytics.html" . }}
  </body>
</html>
